---
layout: archive
title: "Publications and preprints"
permalink: /publications/
author_profile: true
---

<p>You can also find my work on <a href="{{ site.author.arxiv }}">arXiv</a> and <a href="{{ site.author.googlescholar }}">Google Scholar</a>.</p>

{% assign publications = site.publications | sort: "sort_order" | reverse %}
{% for category in site.publication_category %}
  {% assign entries = publications | where: "category", category[0] %}
  {% if entries.size > 0 %}
    <h2>{{ category[1].title }}</h2>
    {% for entry in entries %}
      {% include academic-entry.html compact=true %}
    {% endfor %}
  {% endif %}
{% endfor %}
