<article class="archive__item{% if entry.collection == 'publications' %} publication-entry{% endif %}">
  {% if include.compact %}
    <h3 class="archive__item-title">{% if entry.collection == "talks" %}{{ entry.title | escape }}{% else %}<a href="{{ entry.url | relative_url }}">{{ entry.title | escape }}</a>{% endif %}</h3>
  {% else %}
    <h2 class="archive__item-title">{% if entry.collection == "talks" %}{{ entry.title | escape }}{% else %}<a href="{{ entry.url | relative_url }}">{{ entry.title | escape }}</a>{% endif %}</h2>
  {% endif %}
  {% if entry.coauthors %}<p>{% include coauthors.html coauthors=entry.coauthors %}</p>{% elsif entry.authors %}<p>{{ entry.authors | escape }}</p>{% endif %}
  <p>{% if entry.event_url and entry.event_name %}<a href="{{ entry.event_url | escape }}">{{ entry.event_name | escape }}</a>{% if entry.venue %} · {{ entry.venue | escape }}{% endif %}{% else %}{{ entry.details | escape }}{% endif %}{% if entry.period %} · {{ entry.period | escape }}{% endif %}</p>
  {% unless include.compact %}
    {% if entry.summary %}<p>{{ entry.summary | escape }}</p>{% endif %}
  {% endunless %}
  {% if entry.arxiv and entry.arxiv != "" %}
    <p><a href="https://arxiv.org/abs/{{ entry.arxiv }}">arXiv:{{ entry.arxiv }}</a> · <a href="https://arxiv.org/pdf/{{ entry.arxiv }}">PDF</a>{% if entry.journal_url %} · <a href="{{ entry.journal_url }}">Journal article</a>{% endif %}</p>
  {% endif %}
</article>
